# See https://help.github.com/ignore-files/ for more about ignoring files.
.DS_Store
/*.tgz

# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components
*.ember-try

# misc
/.sass-cache
/.eslintcache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log*
yarn-error.log
testem.log

# ember-try
.node_modules.ember-try/
bower.json.ember-try
package.json.ember-try

adapters/*.d.ts
mixins/*.d.ts
authenticators/*.d.ts
authorizers/*.d.ts
serializers/*.d.ts
services/*.d.ts
session-stores/*.d.ts
torii-adapters/*.d.ts
torii-providers/*.d.ts
initializers/*.d.ts
vendor/**/node_modules
vendor/**/tmp
vendor/**/DEBUG
index.d.ts