# See https://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log*
yarn-error.log
testem.log

# ember-try
.node_modules.ember-try/
bower.json.ember-try
package.json.ember-try

addon/**/*.js
app/**/*.js
adapters/*.d.ts
authenticators/*.d.ts
authorizers/*.d.ts
serializers/*.d.ts
services/*.d.ts
session-stores/*.d.ts
initializers/*.d.ts
vendor/**/node_modules
vendor/**/tmp
vendor/**/DEBUG
index.d.ts