---
language: node_js
node_js:
  - "4"

addons:
  firefox: latest
  code_climate:
    repo_token:
      secure: gQhPZkdkqJi1XbgJpe23Ji90VQCuXLV1yOp0L1JH+Hx4L19L+mn3gEbB99bFa/Lbh4ASwpuapHy6w2VUn6mzHknbD8r0me7g5bebGFcDyPf+EOVHEzAScnFHrKIqjK/sCbvcI7xWvDpzg9kT9UTBAdVfiJYEYiPEnKskPy8FIE0=

sudo: false

branches:
  only:
    - master # otherwise pull requests get built twice

cache:
  directories:
    - node_modules

env:
  - EMBER_TRY_SCENARIO=ember-data-2.9.x
  - EMBER_TRY_SCENARIO=ember-data-2.10.x
  - EMBER_TRY_SCENARIO=ember-data-2.11.x 
  - EMBER_TRY_SCENARIO=ember-data-2.12.x COVERAGE=true
  - EMBER_TRY_SCENARIO=ember-data-beta
  - EMBER_TRY_SCENARIO=ember-data-canary

matrix:
  fast_finish: true
  allow_failures:
    - env: EMBER_TRY_SCENARIO=ember-data-canary
    - env: EMBER_TRY_SCENARIO=ember-data-beta

before_install:
  - npm config set spin false
  - npm install -g bower
  - bower --version
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - sleep 3 # wait for xfvb to start up
  # - ./node_modules/ember-cli/node_modules/testem/testem.js launchers

install:
  - npm install
  - bower install

script:
  - npm run legacy
  - ember try:one $EMBER_TRY_SCENARIO --skip-cleanup

after_script:
  - if [ "$COVERAGE" ]; then sed 's/SF:modules\/emberfire\//SF:addon\//g' coverage/lcov.info > coverage/lcov.info.fixed; fi
  - if [ "$COVERAGE" ]; then codeclimate-test-reporter < coverage/lcov.info.fixed; fi
