<div class="post-slug-header">
  <div class="post-slug-date">
    <div class="post-slug-date-item">
      <div class="post-slug-date-month">{{publishedMonth}}</div>
      <div class="post-slug-date-day">{{publishedDay}}</div>
    </div>
  </div>
  <h3 class="post-slug-title">
    {{#link-to "post" post}}
      {{post.title}}
    {{/link-to}}
  </h3>
</div>
