* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

/**
 * Header
 */

header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1em;
  border-bottom: 1px dotted #CCC;
}

  header h1 {
    margin: 0;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;

    font-weight: 300;
  }

  header h1 a {
    text-decoration: none;
    -webkit-transition: color 300ms;
    transition: color 300ms;
  }

  header h1 a:hover {
    color: #fec324;
  }

header nav {

}

  header nav a {
    display: inline-block;
    margin: 0 0 0 1em;
    padding: 0.35em 0.75em;
    background-color: transparent;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    border-radius: 20px;
  }

  header nav a:hover {
    background-color: #379ae9;

    color: #FFF;
  }

/**
 * Main
 */

.main-content {
  margin: 0 auto;
  padding: 1em;
}

/**
 * General
 */

.avatar {
  border-radius: 100%;
}

button {
  padding: 0.5em 1em;
  background-color: #50b1ff;
  border: none;
  -webkit-transition: background-color 300ms;
  transition: background-color 300ms;
  outline: none;

  color: #FFF;
  font-weight: 300;
}

button:hover {
  background-color: #379ae9;
}

/**
 * Posts
 */

.posts {
  margin: 0;
  padding: 0;
  list-style: none;
}

/**
 * Post
 */

.post {
  margin: 0 auto;
  padding: 1em;
  width: 40em;
}

  @media screen and (max-width: 39em) {
    .post  {
      width: auto;
    }
  }

  .post-header {
    margin: 0.5em 0;
    text-align: center;
  }

  .post-avatar {
    height: 50px;
  }

  .post-author {
    margin-top: 0.5em;

    font-weight: 700;
  }

  .post-date {
    color: #999;
    font-size: 0.8em;
  }

  .post-title {
    margin: 0.5em 0;

    font-size: 4em;
    font-weight: 100;
  }

  .post-content {
    margin-bottom: 2em;
    padding-bottom: 2em;
    border-bottom: 1px dotted #999;

    font-size: 1.1em;
    line-height: 1.5;
  }

  .post-content a {
    color: #118CD9;
  }

  .post-content a:hover {
    color: #08428C;
  }

  .post-comments {
    margin: 0;
    padding: 0;
    list-style: none;
  }

    .post-comments-header {
      font-size: 1.5em;
      font-weight: normal;
      font-style: italic;
    }

    .post-comment {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin: 0 0 2em 0;
      padding: 0 0 2em 0;
      border-bottom: 1px dotted #CCC;
    }

    .post-comment-avatar {
      width: 40px;
      height: 42px;
    }

    .post-comment-author {

    }

    .post-comment-date {
      display: inline-block;
      margin: 0 0 0 0.25em;

      color: #999;
    }

    .post-comment-body {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      padding: 0 0 0 1em;

      font-size: 0.9em;
    }

    .post-comment-body a {
      color: #118CD9;
    }

    .post-comment-body a:hover {
      color: #08428C;
    }

    .post-comment-meta {
      margin: 0 0 0.75em 0;

      font-size: 0.9em;
    }

    .post-comment-new {
      display: block;
      border-bottom: none;
    }

      .post-comment-new input,
      .post-comment-new textarea {
        width: 100%;
        margin: 0 0 1em 0;
        padding: 0.5em;
        border: 1px solid #CCC;

        font-weight: 300;
      }

      .post-comment-new textarea {
        min-height: 5em;
      }

/**
 * Post Slug
 */

.post-slug {
  padding: 0.5em 0;
}

  .post-slug-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    margin: 0.5em 0;

    font-size: 3em;
    font-weight: 100;
  }

    .post-slug-date {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 0 0.1em 0 0;
      padding: 0 0.5em;
      border: 1px dotted #CCC;

      font-size: 3rem;
      text-align: center;
      color: #CCC;
    }

      .post-slug-date-item {
        line-height: 1;
      }

      .post-slug-date-month {
        font-size: 0.5em;
        text-transform: uppercase;

        font-weight: 300;
      }

      .post-slug-date-day {
         font-weight: 300;
      }

    .post-slug-title {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: stretch;
      -webkit-align-items: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      margin: 0;

      font-weight: 100;
    }

    .post-slug-title a {
      display: inline-block;
      padding: 0.25em 0.45em;
      background-color: transparent;
      -webkit-transition: all 300ms;
      transition: all 300ms;
      max-width: 100%;

      text-decoration: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .post-slug-title a:hover {
      background-color: #50b1ff;

      color: #FFF;
    }

/**
 * Post Publish
 */

.post-publish {
  margin: 0;
  padding: 0;
  list-style: none;
}

  .post-publish > li {
    margin: 0 0 0.25em 0;
    padding: 0.25em 0;
  }

  .post-publish input,
  .post-publish textarea {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #CCC;

    font-weight: 300;
  }

  .post-publish textarea {
    min-height: 5em;
  }