<header>
  <h1>
    {{#link-to "index"}}<strong>Fire</strong>Blog{{/link-to}}
  </h1>
  <nav>
    {{#link-to "posts.new"}}New Post{{/link-to}}
  </nav>
</header>
<section class="main-content">
  {{outlet}}
</section>
