<header>
  <h1>
    {{#link-to "index"}}<strong>Fire</strong>Blog{{/link-to}}
  </h1>
  <nav>
    {{#link-to "auth"}}Try Authentication{{/link-to}}
    {{#link-to "posts.new"}}New Post{{/link-to}}
    <a class="github-link" href="https://github.com/firebase/emberfire/tree/master/tests/dummy"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="View Source"></a>
  </nav>
</header>
<section class="main-content">
  {{outlet}}
</section>
