<p>{{#link-to 'somethings'}}Back to all{{/link-to}}</p>

<ul>
{{#each model as |comment|}}
    <li>
        <p>{{ comment.body }}</p>
        {{#if comment.user}}<small>{{#link-to "user" comment.user.id}}{{comment.user.name}}{{/link-to}}</small>{{/if}}
        <small>{{ comment.id }}</small>
    </li>
{{/each}}
</ul>

<button {{action "createComment"}}>Add comment!</button>