<ul>
    {{#each model as |something|}}
        <li>
            <h3>{{#link-to 'something' something}}{{ something.title }}{{/link-to}}</h3>
            <p>{{ something.description }}</p>
            <p>{{ something.user.name }}</p>
        </li>
    {{/each}}
</ul>

<button {{ action 'createSomething'}}>New something!</button>