<h2>Users</h2>
<ul>
{{#each user in model}}
  <li class="item">
    <ul class="item-info">
      <li><strong>id:</strong> {{user.id}}</li>
      <li><strong>firstName:</strong> {{user.firstName}}</li>
      <li>
        <ul>
          <li><strong>posts:</strong></li>
          {{#each post in user.posts}}
            <li>{{post.title}}</li>
          {{/each}}
        </ul>
        <li>
          <input type="button" {{action "updateUser" user}} value="update" />
        </li>
      </li>
    </ul>
  </li>
{{/each}}
</ul>
