<h2>New Post</h2>
<ul class="post-publish">
  <li>
    {{input value=post.title placeholder="Title"}}
  </li>
  <li>
    {{input value=post.username placeholder="Username"}}
  </li>
  <li>
    {{textarea value=post.body placeholder="Body"}}
  </li>
  <li>
    <button {{action "publishPost"}}>Publish</button>
  </li>
</ul>
